$breakpoint: (
  th: 'screen and (min-width:1300px)',
  pc: 'screen and (min-width:1100px)',
  sen: 'screen and (min-width:1000px)',
  tab: 'screen and (min-width:800px)',
  se: 'screen and (min-width:700px)',
  sp: 'screen and (min-width:600px)',
  min: 'screen and (min-width:480px)',
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}